aiohttp==2.3.1
async-timeout==2.0.0
beautifulsoup4==4.4.1
certifi==2017.7.27.1
chardet==3.0.4
discord.py~=0.16
idna==2.6
inflect==0.2.5
jaraco.apt==1.2
jaraco.classes==1.2
jaraco.collections==1.1
jaraco.context==1.6.1
jaraco.functools==1.6
jaraco.itertools==1.5.1
jaraco.logging==1.2
jaraco.text==1.4
jaraco.timing==1.1.5
lxml==4.1.0
more-itertools==2.2
multidict==3.3.0
packaging==16.8
pyparsing==2.1.10
python-dateutil==2.6.1
python-Levenshtein==0.12.0
python-magic==0.4.10
pytz==2015.6
requests==2.20.0
six==1.10.0
tempora==1.3
Unidecode==0.4.21
urllib3==1.22
websocket-client==0.32.0
websockets==3.4
yarl==0.13.0
yg.lockfile==2.1
zc.lockfile==1.1.0
