aiohttp==1.0.5
async-timeout==1.1.0
beautifulsoup4==4.4.1
chardet==2.3.0
discord.py~=0.16
inflect==0.2.5
jaraco.classes==1.2
jaraco.collections==1.1
jaraco.functools==1.6
jaraco.itertools==1.5.1
jaraco.logging==1.2
jaraco.text==1.4
jaraco.timing==1.1.5
more-itertools==2.2
multidict==2.1.4
packaging==16.8
pyparsing==2.1.10
python-Levenshtein==0.12.0
python-magic==0.4.10
pytz==2015.6
requests==2.8.1
six==1.10.0
tempora==1.3
Unidecode==0.4.18
websocket-client==0.32.0
websockets==3.2
yg.lockfile==2.1
zc.lockfile==1.1.0
